# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.gitattributes     export-ignore
/.editorconfig     export-ignore
/.gitignore         export-ignore
/.travis.yml        export-ignore
/phpunit.xml.dist   export-ignore
/phpspec.yml.dist   export-ignore
/.scrutinizer.yml   export-ignore
/tests              export-ignore
/features           export-ignore
/specs              export-ignore
/functional         export-ignore
/build              export-ignore